# PySpark DataFrame Basics

Material Bruno Rocha Oliveira adaptado por Diandra Kubo 02/2020

Links úteis:
* Spark Dataframe and Operations https://www.analyticsvidhya.com/blog/2016/10/spark-dataframe-and-operations/
* Kedro Tutorial  https://kedro.readthedocs.io/en/latest/03_tutorial/02_tutorial_template.html
* Pandas Tutorial https://towardsdatascience.com/data-handling-using-pandas-machine-learning-in-real-life-be76a697418c

## Table of Contents:
* [Select](#Select)
* [Colunas](#Colunas)
* [Filtros](#Filtros)
* [Ordenação](#Ordenação)
* [Criar campos calculados](#Criar-campos-calculados)
* [Transformação de dados](#Tranformação-de-dados)
* [Datas](#Datas)
* [Nulos](#Nulos)
* [Agrupamentos](#Agrupamentos)
* [Joins](#Joins)

Criando contexto spark a partir do contexto Kedro

In [1]:
spark = context.init_spark_session()

Importando bibliotecas que serão utilizadas

In [2]:
import pandas as pd
import numpy as np
from pyspark.sql import functions as F
import pickle
from itertools import chain

In [3]:
df = spark.table("bg.bgdtpen")

## Select

Selecionando colunas

In [4]:
df.select (
                F.expr("substring(centro_alta, 2, 1)"),
                F.col("centro_alta"),
                F.column("centro_alta"))\
.show(2)

+----------------------------+-----------+-----------+
|substring(centro_alta, 2, 1)|centro_alta|centro_alta|
+----------------------------+-----------+-----------+
|                           8|       3871|       3871|
|                           8|       3871|       3871|
+----------------------------+-----------+-----------+
only showing top 2 rows

Selecionando colunas com alias

In [5]:
df.select (
                F.expr("centro_alta").alias("dest"),
                F.col("centro_alta").alias("destino"),
                F.column("centro_alta").alias("destino2"))\
.show(2)

+----+-------+--------+
|dest|destino|destino2|
+----+-------+--------+
|1578|   1578|    1578|
|1578|   1578|    1578|
+----+-------+--------+
only showing top 2 rows

Selecionando todas as colunas

In [6]:
df.select (F.expr("*"))\
.show(1)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+
|   0033|       1579|000010000315|   BRL|     1733|  0086| -70.00|        |            |          0.00|             | 2019-07-29|2019-07-29|     1219| 2019-07-29|     0|           |           N|          1|   248.62|        0033|       1579|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   15|         N|            N|       N|       B501|            MP|    ?Z3W|2019-07-29|12194800| 0.00| 0.00| 0.00|       0033|      7097|   MQPAMPA|         A|       ?Z3W|2019-07-29 12:19:...|   9151946339|          NFN|                 |   2019-07-30|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+
only showing top 1 row

Passar uma constante

In [7]:
from pyspark.sql.functions import lit
df.select(F.expr("centro_alta"), 
          F.col("cuenta"), 
          lit(1).alias("One")).show(2)

+-----------+------------+---+
|centro_alta|      cuenta|One|
+-----------+------------+---+
|       0805|000010000198|  1|
|       0805|000010000198|  1|
+-----------+------------+---+
only showing top 2 rows

## Colunas

Adicionando colunas no dataframe

In [8]:
df.withColumn("numberOne", lit(1)).show(2)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+---------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|tx_comp_hist_lanc|dat_ref_carga|numberOne|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+---------+
|   0033|       4728|000010000114|   BRL|     2162|  3837|   0.02|        |            |          0.00|             | 2019-01-02|2019-01-03|     0125| 2019-01-02|     0|           |           N|          1|  4387.67|        0033|       4728|      22|    8949|      M|      N|           S|       N|          H|            |         |   0.000000|   99|         N|            N|       S|           |            BP|    3B68|2019-01-03|01254262| 0.00| 0.00| 0.00|       0033|      4728|  BG4CM601|         B|   BPBP3B68|2019-01-04 01:25:...|             |          NFN|                 |   2019-01-07|        1|
|   0033|       4728|000010000114|   BRL|     2163|  0922|-161.00|        |            |          0.00|             | 2019-01-04|2019-01-04|     1500| 2019-01-04|     0|           |           N|          1|  4387.69|        0033|       4728|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   15|         N|            N|       N|       B501|            MP|    ?2RC|2019-01-04|15000829| 0.00| 0.00| 0.00|       0033|      7097|   MQPAMPA|         A|       ?2RC|2019-01-04 15:00:...|       000872|          NFN|      04/01 DARCO|   2019-01-07|        1|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+---------+
only showing top 2 rows

In [9]:
df.withColumn("target_centro_alta", 
            F.expr("centro_alta == '0001'"))\
.show(2)

+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+---------------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+------------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo| importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|    ref_interna|ind_desdobla|ind_observa| saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|tx_comp_hist_lanc|dat_ref_carga|target_centro_alta|
+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+---------------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+------------------+
|   0033|       0001|000130267743|   BRL|  7261146|  8818| -116.07|        |            |          0.00|             | 2017-12-12|2017-12-12|     0041| 2017-12-12|     0|NR.000000000000|           N|          1|1241212.91|        0033|       0001|      22|    2105|      A|      N|           S|       N|          D|            |         |   0.000000|   99|         N|            N|       S|           |            IY|    7050|2017-12-12|22.23.24| 0.00| 0.00| 0.00|       0033|      0001|  IY3C7050|         C|   IYBD500E|2017-12-13 00:41:...|   0000000000|          NJN|                 |   2017-12-14|              true|
|   0033|       0001|000130267743|   BRL|  7261147|  8818|-3550.08|        |            |          0.00|             | 2017-12-12|2017-12-12|     0041| 2017-12-12|     0|NR.000000000000|           N|          1|1241096.84|        0033|       0001|      22|    2105|      A|      N|           S|       N|          D|            |         |   0.000000|   99|         N|            N|       S|           |            IY|    7050|2017-12-12|20.02.40| 0.00| 0.00| 0.00|       0033|      0001|  IY3C7050|         C|   IYBD500E|2017-12-13 00:41:...|   0000000000|          NJN|                 |   2017-12-14|              true|
+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+---------------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+-----------------+-------------+------------------+
only showing top 2 rows

Renomeando colunas

In [10]:
df.withColumnRenamed("centro_alta", "agencia").columns

['entidad',
 'agencia',
 'cuenta',
 'divisa',
 'numer_mov',
 'codigo',
 'importe',
 'concepto',
 'cod_impuesto',
 'impor_impuesto',
 'cpto_impuesto',
 'fecha_conta',
 'fecha_oper',
 'hora_oper',
 'fecha_valor',
 'cheque',
 'ref_interna',
 'ind_desdobla',
 'ind_observa',
 'saldo_aut',
 'entidad_cont',
 'centro_cont',
 'producto',
 'subprodu',
 'ind_aom',
 'ind_act',
 'ind_anulable',
 'ind_anul',
 'ind_car_abo',
 'ind_giro_dep',
 'codigo_ur',
 'tipo_cambio',
 'canal',
 'ind_contab',
 'ind_impto_mir',
 'ind_ppal',
 'transaccion',
 'cod_aplicacion',
 'term_nio',
 'fecha_nio',
 'hora_nio',
 'mov30',
 'mov60',
 'mov90',
 'entidad_umo',
 'centro_umo',
 'userid_umo',
 'cajero_umo',
 'netname_umo',
 'timest_umo',
 'discriminante',
 'div_contraria',
 'tx_comp_hist_lanc',
 'dat_ref_carga']

Removendo colunas

In [11]:
df.drop("concepto").columns

['entidad',
 'centro_alta',
 'cuenta',
 'divisa',
 'numer_mov',
 'codigo',
 'importe',
 'cod_impuesto',
 'impor_impuesto',
 'cpto_impuesto',
 'fecha_conta',
 'fecha_oper',
 'hora_oper',
 'fecha_valor',
 'cheque',
 'ref_interna',
 'ind_desdobla',
 'ind_observa',
 'saldo_aut',
 'entidad_cont',
 'centro_cont',
 'producto',
 'subprodu',
 'ind_aom',
 'ind_act',
 'ind_anulable',
 'ind_anul',
 'ind_car_abo',
 'ind_giro_dep',
 'codigo_ur',
 'tipo_cambio',
 'canal',
 'ind_contab',
 'ind_impto_mir',
 'ind_ppal',
 'transaccion',
 'cod_aplicacion',
 'term_nio',
 'fecha_nio',
 'hora_nio',
 'mov30',
 'mov60',
 'mov90',
 'entidad_umo',
 'centro_umo',
 'userid_umo',
 'cajero_umo',
 'netname_umo',
 'timest_umo',
 'discriminante',
 'div_contraria',
 'tx_comp_hist_lanc',
 'dat_ref_carga']

Cast colunas

In [12]:
df.withColumn("agencia_int", F.col("centro_alta").cast("integer"))

DataFrame[entidad: string, centro_alta: string, cuenta: string, divisa: string, numer_mov: decimal(11,0), codigo: string, importe: decimal(17,2), concepto: string, cod_impuesto: string, impor_impuesto: decimal(17,2), cpto_impuesto: string, fecha_conta: string, fecha_oper: string, hora_oper: string, fecha_valor: string, cheque: decimal(11,0), ref_interna: string, ind_desdobla: string, ind_observa: string, saldo_aut: decimal(17,2), entidad_cont: string, centro_cont: string, producto: string, subprodu: string, ind_aom: string, ind_act: string, ind_anulable: string, ind_anul: string, ind_car_abo: string, ind_giro_dep: string, codigo_ur: string, tipo_cambio: decimal(11,6), canal: string, ind_contab: string, ind_impto_mir: string, ind_ppal: string, transaccion: string, cod_aplicacion: string, term_nio: string, fecha_nio: string, hora_nio: string, mov30: decimal(17,2), mov60: decimal(17,2), mov90: decimal(17,2), entidad_umo: string, centro_umo: string, userid_umo: string, cajero_umo: string, netname_umo: string, timest_umo: timestamp, discriminante: string, div_contraria: string, tx_comp_hist_lanc: string, dat_ref_carga: string, agencia_int: int]

## Filtros

Filtrando registros

In [13]:
df.filter(F.col("importe") < 100).show(2)

+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo| importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       1687|000010000018|   BRL|     2351|  0838|-1000.00|        |            |          0.00|             | 2019-10-29|2019-10-29|     1624| 2019-10-29|     0|           |           N|          1|  1088.69|        0033|       1687|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   35|         N|            N|       N|       PZA7|            PZ|    ?1AO|2019-10-29|16241007| 0.00| 0.00| 0.00|       0033|      1687|   C351687|         A|       ?1AO|2019-10-29 16:24:...|             |          NFN|001-1779-00000023...|   2019-10-30|
|   0033|       1687|000010000032|   BRL|     3406|  0469|   81.22|        |            |          0.00|             | 2019-10-29|2019-10-29|     1149| 2019-10-29|     0|           |           N|          1| -2345.33|        0033|       1687|      22|    8949|      M|      N|           S|       N|          H|            |         |   0.000000|   00|         N|            N|       N|       B601|            PZ|    ?83Q|2019-10-29|11492243| 0.00| 0.00| 0.00|       0033|      1687|   DHE1687|         A|       ?83Q|2019-10-29 11:49:...|             |          NFN|JOAO PAULO RODRIG...|   2019-10-30|
+-------+-----------+------------+------+---------+------+--------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 2 rows

Varios filtros 

```
SELECT * 
FROM df 
WHERE importe < 100 
AND dat_ref_carga == "2020-01-06"
AND centro_alta == '0002'
LIMIT 2
```

In [14]:
df = df.where(F.col("importe") < 100)\
       .where(F.col("dat_ref_carga") == "2020-01-06")\
       .where(F.col("centro_alta") == "0002")
df.show(2)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       0002|000010005848|   BRL|     2793|  0058|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1250| 2020-01-03|     0|           |           N|          1|  7887.69|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   08|         N|            N|       N|       BGS1|            C4|     IV1|2020-01-03|12502299| 0.00| 0.00| 0.00|       0033|      0570|   DHC0570|         A|        IV1|2020-01-03 12:50:...|       600570|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11709|  0070|-400.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1248| 2020-01-03|     0|           |           N|          1|   468.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         S|            N|       S|       BGT0|            BG|    &47Z|2020-01-03|12485808| 0.00| 0.00| 0.00|       0033|      0002|   C350002|         B|       &47Z|2020-01-03 12:48:...|     12485809|          TFN|ORESTES RIBEIRO J...|   2020-01-06|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 2 rows

Filtro OR
```
SELECT *
FROM df
WHERE importe<10 or importe>90
```

In [15]:
df.where((F.col("importe")<10) | (F.col("importe")>90)).show(2)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       0002|000010005848|   BRL|     2793|  0058|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1250| 2020-01-03|     0|           |           N|          1|  7887.69|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   08|         N|            N|       N|       BGS1|            C4|     IV1|2020-01-03|12502299| 0.00| 0.00| 0.00|       0033|      0570|   DHC0570|         A|        IV1|2020-01-03 12:50:...|       600570|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11709|  0070|-400.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1248| 2020-01-03|     0|           |           N|          1|   468.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         S|            N|       S|       BGT0|            BG|    &47Z|2020-01-03|12485808| 0.00| 0.00| 0.00|       0033|      0002|   C350002|         B|       &47Z|2020-01-03 12:48:...|     12485809|          TFN|ORESTES RIBEIRO J...|   2020-01-06|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 2 rows

Distinct
```
SELECT COUNT(DISTINCT(centro_alta, cuenta)) FROM df
```

In [16]:
df.select("centro_alta", "cuenta").distinct().count()

14710

Union

In [17]:
df_aux = spark.table("bg.bgdtpen")\
        .filter(F.col("dat_ref_carga") == "2020-02-03")\
        .filter(F.col("centro_alta") == '0001')

In [18]:
df.count(), df_aux.count()

(51109, 121065)

In [19]:
union = df.union(df_aux)

In [20]:
union.count()

172174

## Ordenação

Ordenar as linhas

In [21]:
df.sort("importe").show(5)

+-------+-----------+------------+------+---------+------+----------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|   importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa| saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+----------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       0002|000130051073|   BRL|   121192|  0904|-580000.00|        |            |          0.00|             | 2020-01-02|2020-01-02|     0200| 2020-01-02|     0|       9999|           N|          1|-496101.30|        0033|       0002|      22|    8400|      A|      N|           S|       N|          D|            |         |   0.000000|   YL|         N|            N|       S|           |            YL|    0020|2020-01-03|78737605| 0.00| 0.00| 0.00|       0033|      0002|  YL4C981F|         N|   YM4C981F|2020-01-03 02:00:...|       030102|          NJN|     0002.4900093568|   2020-01-06|
|   0033|       0002|000500000065|   BRL|    84483|  0824|-388217.11|        |            |          0.00|             | 2020-01-03|2020-01-06|     0224| 2020-01-03|     0|       9990|           N|          3|1318933.48|        0033|       0002|      22|    8130|      A|      N|           S|       N|          D|            |         |   0.000000|   99|         N|            N|       S|           |            MX|    MXC0|2020-01-03|02232807| 0.00| 0.00| 0.00|       0033|      0002|  DHE0002 |         N|   MX2J0B40|2020-01-04 02:24:...|             |          NJN|                    |   2020-01-06|
|   0033|       0002|000130050003|   BRL|    10367|  0836|-350000.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1609| 2020-01-03|     0|           |           N|          2| -12135.20|        0033|       0002|      22|    1304|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         N|            N|       N|       PZA1|            PZ|     ADZ|2020-01-03|16090018| 0.00| 0.00| 0.00|       0033|      0002|   DHN0002|         A|        ADZ|2020-01-03 16:09:...|   0000000000|          NJN|VM ADMINISTRACAO ...|   2020-01-06|
|   0033|       0002|000130065423|   BRL|    24905|  3625|-269697.61|        |            |          0.00|             | 2020-01-03|2020-01-06|     0219| 2020-01-03|     0|           |           N|          3| 272560.61|        0033|       0002|      22|    8518|      M|      N|           S|       N|          D|            |         |   0.000000|   99|         N|            N|       S|           |            BP|    4B8X|2020-01-03|02191366| 0.00| 0.00| 0.00|       0033|      0002|  BG4CM402|         B|   BPBP4B01|2020-01-04 02:19:...|             |          NJN|                    |   2020-01-06|
|   0033|       0002|000130063177|   BRL|     2600|  3625|-243540.79|        |            |          0.00|             | 2020-01-02|2020-01-03|     0127| 2020-01-02|     0|           |           N|          3| 243540.79|        0033|       0002|      22|    8518|      M|      N|           S|       N|          D|            |         |   0.000000|   99|         N|            N|       S|           |            BP|    2B0D|2020-01-03|01274867| 0.00| 0.00| 0.00|       0033|      0002|  BG4CM500|         B|   BPBP2B01|2020-01-04 01:27:...|             |          NJN|                    |   2020-01-06|
+-------+-----------+------------+------+---------+------+----------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+----------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 5 rows

In [22]:
df.orderBy("centro_alta", "cuenta").show(5)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       0002|000010005848|   BRL|     2793|  0058|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1250| 2020-01-03|     0|           |           N|          1|  7887.69|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   08|         N|            N|       N|       BGS1|            C4|     IV1|2020-01-03|12502299| 0.00| 0.00| 0.00|       0033|      0570|   DHC0570|         A|        IV1|2020-01-03 12:50:...|       600570|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11709|  0070|-400.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1248| 2020-01-03|     0|           |           N|          1|   468.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         S|            N|       S|       BGT0|            BG|    &47Z|2020-01-03|12485808| 0.00| 0.00| 0.00|       0033|      0002|   C350002|         B|       &47Z|2020-01-03 12:48:...|     12485809|          TFN|ORESTES RIBEIRO J...|   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11710|  0086|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1302| 2020-01-03|     0|           |           N|          1|    68.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   15|         N|            N|       N|       B501|            MP|     OO9|2020-01-03|13023522| 0.00| 0.00| 0.00|       0033|      7097|   MQPAMPA|         A|        OO9|2020-01-03 13:02:...|   3160210444|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008717|   BRL|     9076|  2988|-404.80|        |            |          0.00|             | 2020-01-06|2020-01-06|     0302| 2020-01-06|     0|           |           N|          1|  4252.08|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         N|            N|       N|       VTIB|            VT|    ?76Y|2020-01-04|03025987| 0.00| 0.00| 0.00|       0033|      0002|    MQIBFP|         A|       ?76Y|2020-01-04 03:02:...|             |          NFN|NATURA COSMETICOS SA|   2020-01-06|
|   0033|       0002|000010008717|   BRL|     9077|  2988|-285.76|        |            |          0.00|             | 2020-01-06|2020-01-06|     0309| 2020-01-06|     0|           |           N|          1|  3847.28|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         N|            N|       N|       VTIB|            VT|    ?72W|2020-01-04|03091171| 0.00| 0.00| 0.00|       0033|      0002|    MQIBFP|         A|       ?72W|2020-01-04 03:09:...|             |          NFN|NATURA COSMETICOS SA|   2020-01-06|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 5 rows

In [23]:
df.orderBy(F.col("centro_alta"), F.col("cuenta")).show(5)

+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|entidad|centro_alta|      cuenta|divisa|numer_mov|codigo|importe|concepto|cod_impuesto|impor_impuesto|cpto_impuesto|fecha_conta|fecha_oper|hora_oper|fecha_valor|cheque|ref_interna|ind_desdobla|ind_observa|saldo_aut|entidad_cont|centro_cont|producto|subprodu|ind_aom|ind_act|ind_anulable|ind_anul|ind_car_abo|ind_giro_dep|codigo_ur|tipo_cambio|canal|ind_contab|ind_impto_mir|ind_ppal|transaccion|cod_aplicacion|term_nio| fecha_nio|hora_nio|mov30|mov60|mov90|entidad_umo|centro_umo|userid_umo|cajero_umo|netname_umo|          timest_umo|discriminante|div_contraria|   tx_comp_hist_lanc|dat_ref_carga|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
|   0033|       0002|000010005848|   BRL|     2793|  0058|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1250| 2020-01-03|     0|           |           N|          1|  7887.69|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   08|         N|            N|       N|       BGS1|            C4|     IV1|2020-01-03|12502299| 0.00| 0.00| 0.00|       0033|      0570|   DHC0570|         A|        IV1|2020-01-03 12:50:...|       600570|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11709|  0070|-400.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1248| 2020-01-03|     0|           |           N|          1|   468.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         S|            N|       S|       BGT0|            BG|    &47Z|2020-01-03|12485808| 0.00| 0.00| 0.00|       0033|      0002|   C350002|         B|       &47Z|2020-01-03 12:48:...|     12485809|          TFN|ORESTES RIBEIRO J...|   2020-01-06|
|   0033|       0002|000010008298|   BRL|    11710|  0086|-200.00|        |            |          0.00|             | 2020-01-03|2020-01-03|     1302| 2020-01-03|     0|           |           N|          1|    68.88|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   15|         N|            N|       N|       B501|            MP|     OO9|2020-01-03|13023522| 0.00| 0.00| 0.00|       0033|      7097|   MQPAMPA|         A|        OO9|2020-01-03 13:02:...|   3160210444|          NFN|                    |   2020-01-06|
|   0033|       0002|000010008717|   BRL|     9076|  2988|-404.80|        |            |          0.00|             | 2020-01-06|2020-01-06|     0302| 2020-01-06|     0|           |           N|          1|  4252.08|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         N|            N|       N|       VTIB|            VT|    ?76Y|2020-01-04|03025987| 0.00| 0.00| 0.00|       0033|      0002|    MQIBFP|         A|       ?76Y|2020-01-04 03:02:...|             |          NFN|NATURA COSMETICOS SA|   2020-01-06|
|   0033|       0002|000010008717|   BRL|     9077|  2988|-285.76|        |            |          0.00|             | 2020-01-06|2020-01-06|     0309| 2020-01-06|     0|           |           N|          1|  3847.28|        0033|       0002|      22|    8949|      M|      N|           S|       N|          D|            |         |   0.000000|   06|         N|            N|       N|       VTIB|            VT|    ?72W|2020-01-04|03091171| 0.00| 0.00| 0.00|       0033|      0002|    MQIBFP|         A|       ?72W|2020-01-04 03:09:...|             |          NFN|NATURA COSMETICOS SA|   2020-01-06|
+-------+-----------+------------+------+---------+------+-------+--------+------------+--------------+-------------+-----------+----------+---------+-----------+------+-----------+------------+-----------+---------+------------+-----------+--------+--------+-------+-------+------------+--------+-----------+------------+---------+-----------+-----+----------+-------------+--------+-----------+--------------+--------+----------+--------+-----+-----+-----+-----------+----------+----------+----------+-----------+--------------------+-------------+-------------+--------------------+-------------+
only showing top 5 rows

## Criar campos calculados

In [24]:
fabricatedQuantity = F.pow(F.col("importe") * F.col("saldo_aut"), 2) + 5

In [25]:
df.select(F.expr("cuenta"), 
          fabricatedQuantity.alias("new_quantity")).show(2)

+------------+-----------------+
|      cuenta|     new_quantity|
+------------+-----------------+
|000010005848|2.488626141449E12|
|000010008298|  3.5175752709E10|
+------------+-----------------+
only showing top 2 rows

## Tranformação de dados

Coalesce

In [26]:
df_null = df.select(F.lit(None).alias("colunaX").cast("integer"), 
          F.col("importe"), 
          F.col("cuenta"), 
          F.coalesce(F.lit(None), F.col("importe"), F.col("cuenta")))\
        .limit(5)
df_null.show()

+-------+-------+------------+-------------------------------+
|colunaX|importe|      cuenta|coalesce(NULL, importe, cuenta)|
+-------+-------+------------+-------------------------------+
|   null|-200.00|000010005848|                        -200.00|
|   null|-400.00|000010008298|                        -400.00|
|   null|-200.00|000010008298|                        -200.00|
|   null|-404.80|000010008717|                        -404.80|
|   null|-285.76|000010008717|                        -285.76|
+-------+-------+------------+-------------------------------+

Arredondar dados

In [27]:
df.select(F.round(F.lit("2.5")), F.bround(F.lit("2.5"))).show(2)

+-------------+--------------+
|round(2.5, 0)|bround(2.5, 0)|
+-------------+--------------+
|          3.0|           2.0|
|          3.0|           2.0|
+-------------+--------------+
only showing top 2 rows

Converter string to date

In [28]:
df.withColumn("date", F.lit("2019-01-01"))\
    .select(F.to_date(F.col("date"))).show(1)

+---------------+
|to_date(`date`)|
+---------------+
|     2019-01-01|
+---------------+
only showing top 1 row

## Datas

Adicionando e subtraindo dias

In [29]:
df.select(F.col("fecha_conta"),
          F.date_sub(F.col("fecha_conta"), 5), 
          F.date_add(F.col("fecha_conta"), 5)).show(1)

+-----------+------------------------+------------------------+
|fecha_conta|date_sub(fecha_conta, 5)|date_add(fecha_conta, 5)|
+-----------+------------------------+------------------------+
| 2020-01-03|              2019-12-29|              2020-01-08|
+-----------+------------------------+------------------------+
only showing top 1 row

Diferença de dias entre datas

In [30]:
df.withColumn("week_ago", F.date_sub(F.col("fecha_conta"), 7))\
    .select(F.datediff(F.col("fecha_conta"), F.col("week_ago"))).show(1)

+-------------------------------+
|datediff(fecha_conta, week_ago)|
+-------------------------------+
|                              7|
+-------------------------------+
only showing top 1 row

Diferença de meses entre datas

In [31]:
df.select(
    F.to_date(lit("2016-01-01")).alias("start"),
    F.to_date(lit("2017-05-01")).alias("end"))\
.select(F.months_between(F.col("end"), F.col("start"))).show(1)

+--------------------------------+
|months_between(end, start, true)|
+--------------------------------+
|                            16.0|
+--------------------------------+
only showing top 1 row

## Nulos

Tirando valores nulos

In [32]:
df_null.na.drop("all", subset=["importe", "cuenta"]).show()

+-------+-------+------------+-------------------------------+
|colunaX|importe|      cuenta|coalesce(NULL, importe, cuenta)|
+-------+-------+------------+-------------------------------+
|   null|-200.00|000010005848|                        -200.00|
|   null|-400.00|000010008298|                        -400.00|
|   null|-200.00|000010008298|                        -200.00|
|   null|-404.80|000010008717|                        -404.80|
|   null|-285.76|000010008717|                        -285.76|
+-------+-------+------------+-------------------------------+

In [33]:
df_null.na.drop("all", subset=["colunaX"]).show()

+-------+-------+------+-------------------------------+
|colunaX|importe|cuenta|coalesce(NULL, importe, cuenta)|
+-------+-------+------+-------------------------------+
+-------+-------+------+-------------------------------+

Preenchendo nulos

In [34]:
df_null.na.fill(0, subset=["colunaX"]).show()

+-------+-------+------------+-------------------------------+
|colunaX|importe|      cuenta|coalesce(NULL, importe, cuenta)|
+-------+-------+------------+-------------------------------+
|      0|-200.00|000010005848|                        -200.00|
|      0|-400.00|000010008298|                        -400.00|
|      0|-200.00|000010008298|                        -200.00|
|      0|-404.80|000010008717|                        -404.80|
|      0|-285.76|000010008717|                        -285.76|
+-------+-------+------------+-------------------------------+

## Agrupamentos

```
SELECT cuenta, importe, count(*)
FROM df
GROUP BY cuenta, importe
```

In [35]:
df.groupBy("cuenta", "importe").count().show()

+------------+-------+-----+
|      cuenta|importe|count|
+------------+-------+-----+
|000010044702|  -0.07|    1|
|000010128664| -43.68|    1|
|000010141139| -50.00|    1|
|000010167793|-324.19|    1|
|000010171260| -29.50|    1|
|000010185988|  -8.85|    1|
|000010185995|-110.00|    1|
|000010203424| -35.00|    1|
|000010210097| -10.00|    1|
|000010223020| -24.00|    1|
|000010242797| -65.50|    1|
|000010264986| -22.00|    3|
|000010268117|-486.69|    1|
|000010270833|-263.45|    1|
|000010274851|  -6.00|    1|
|000010281589|  -0.14|    1|
|000010286759|  -0.18|    1|
|000010292871|  -1.24|    1|
|000010296291| -50.00|    1|
|000010299483|  -4.96|    1|
+------------+-------+-----+
only showing top 20 rows

```
SELECT cuenta, 
       avg(importe) as importe_medio, 
       stdev(saldo_aut) as saldo_std, 
       count(*) as count
FROM df
GROUP BY cuenta
```

In [36]:
df.groupBy("cuenta")\
    .agg(F.expr("avg(importe)").alias("importe_medio"),
         F.expr("stddev(saldo_aut)").alias("saldo_std"),
         F.expr("count(*)").alias("count")
    )\
.show()

+------------+-------------+------------------+-----+
|      cuenta|importe_medio|         saldo_std|count|
+------------+-------------+------------------+-----+
|000010026902|   -47.600000|               NaN|    1|
|000010038680|   -45.877500|61.970468437259115|    4|
|000010051014| -1333.996667|1.1159002344893303|    3|
|000010114427|    -1.855000|0.6293250352560177|    2|
|000010155699|   -38.021250| 92.33271185539488|    8|
|000010168127|    24.825000|15.096729778332726|    2|
|000010186006|  -670.000000|14.142135623730951|    2|
|000010234484|   -91.431250|284.97924676318854|    8|
|000010243774|  -196.960476| 1324.196727159165|   21|
|000010256219|  -186.102857|415.20596112910357|    7|
|000010441714|   -98.202000|122.97868994260755|    5|
|000010442849|    87.500000|56.568542494923804|    2|
|000010515309|   -23.642000| 59.92607469021963|   10|
|000010519633|    -6.367600|58.502390825788694|   25|
|000010615980|   -99.900000|               NaN|    1|
|000010621167| -2978.880000|               NaN|    1|
|000010630873|  -166.448000|173.19227725276886|    5|
|000010631685|  -175.813333| 406.7865120059907|    6|
|000010645279|   -60.000000|               NaN|    1|
|000010651449|  -179.351667|30.439023637429692|    6|
+------------+-------------+------------------+-----+
only showing top 20 rows

## Joins

In [37]:
df_aux = spark.table("bg.bgdtcoo")\
            .filter(F.col("dat_ref_carga")=='2020-01-06')

```
SELECT a.*, b.alfa_chica, b.alfa_grande 
FROM bg.bgdtpen a
INNER JOIN bg.bgdtcoo b 
    ON a.codigo=b.codigo
```

In [38]:
join = df.alias("a").join(df_aux.alias("b"), 
                          on="codigo",
                          how="inner")\
       .select("a.*", F.col("b.alfa_chica"), F.col("alfa_grande"))

In [39]:
join.select("codigo", "alfa_grande").show(1)

+------+--------------------+
|codigo|         alfa_grande|
+------+--------------------+
|  2162|PAGAMENTO DE CARN...|
+------+--------------------+
only showing top 1 row

Uma vez que tenho dados sumarizados, posso passar para dataframe pandas

In [41]:
df_pandas = join.groupby("alfa_grande").count().toPandas()

In [42]:
df_pandas

                            alfa_grande  count
0                     ESTORNO DE SEGURO      1
1     PAGAMENTO CONTA CELULAR EM CANAIS    233
2              PAGAMENTO DE TITULOS-BCE     54
3       TAR DEBITO AUTOMATICO EFETIVADO      1
4                 LIQUIDO DE VENCIMENTO     31
..                                  ...    ...
214      COMISSAO RECURSO NAO DISP. DIA      2
215        SAQUE AVULSO PARA PAGAMENTOS      2
216  TARIFA MENSALIDADE PACOTE SERVICOS    157
217   CR COB BLOQ COMP CONF RECEBIMENTO      2
218  TRANSF VALORES P/C/C MESMO TITULAR     21

[219 rows x 2 columns]